header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	background-color: mediumpurple;
	height: 60px;
	font-family: Arial;
    font-size: 20px;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.Glavnaya{
	position: absolute;
	top: 28%;
    left: 2%;
}
.Kontaktu{
	position: absolute;
	top: 28%;
    left: 9%;
}
.Lichnui_kabinet{
	position: absolute;
	top: 28%;
    left: 17%;
}
.Yslygi{
	position: absolute;
	top: 28%;
    left: 29%;
}
.Voiti{
	position: absolute;
	top: 28%;
    left: 93%;
}